<style>
  h1{
    color:red;
    
    
  }
  h2{
    color:red;
    
  }
  body{
    background-color:white ;
  }
  p{
    color:black ;
    border: 1px solid black;
  }
  li{
    color: black;
  }
  tr{
    color: black;
  }
  .dim{
    color: black;
    border-radius: 1px solid black;
    padding: 1rem; 
    margin: 1rem;
    border-radius:  1rem;
  }
  img{
    border: 1px solid #:   black;
    border-radius: 90px;}
    
    
    h1, h2{
      text-decoration: underline black;
      color: red;;
    }
    h1{
      margin: 1px;
    }

      
</style>